<h1>Aprende y Diviertete con las Matematicas</h1>
<div class="img">
    <img src="../../../assets/images/—Pngtree—cute style math stationery elements_5364495.png" alt="niño aprendiendo matematica">
    <p class="p">Las matemáticas son una ciencia formal, que estudia la relación entre entes o elementos abstractos, como son los números, los signos y las figuras. Aunque las matemáticas suelen vincularse principalmente al cálculo y las mediciones, esto no quiere
        decir que se trata de una disciplina dedicada exclusivamente a resolver operaciones numéricas. <br> La matemática tiene como objetivo buscar patrones comunes que pueden luego derivar en una teoría y, eventualmente, en una ley. Pensemos, por ejemplo,
        en el teorema de Pitágoras. Este nos indica que, en un triángulo rectángulo, la suma de cada uno de los catetos al cuadrado nos da igual a la hipotenusa al cuadrado. <br> La matemática, desde un punto de vista más amplio, es una herramienta que
        nos permite entender la forma en la que está diseñada el universo y, con dicho conocimiento, resolver problemas, ya sea en la vida cotidiana o en un ámbito académico.</p>
</div>
<div>
    <div>
        <section class="social">
            <p class="footer">ROBERTO ORCASITA</p>
            <div class="links">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </section>
    </div>
</div>